.hero {
  width: 100%;
  height: 500px;
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: #FFFFFF;
}

.hero h1 {
  padding-top: 200px;
  color: #FFFFFF;
  font-size: 60px;
}

.products {
  padding: 0 5rem 6rem 5rem;
}

.products h2 {
  margin-top: 2rem;
  font-size: inherit;
}

.landing .product-list {
  grid-template-columns: repeat(4, 1fr);
}

.categories h2 {
  margin-bottom: 0;
}

@media only screen and (max-width: 1020px) {
  .landing .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media only screen and (max-width: 760px) {
  .landing .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 565px) {
  .hero {
    padding-left: 0;
    text-align: center;
  }

  .hero h2 {
    padding-top: 7rem;
  }

  .hero p {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 470px) {
  .landing .product-list {
    grid-template-columns: 1fr;
  }
}
